<div class="tabbar">
    <ul>
        <li ng-class="{active:type =='home'}" ng-click="tabClick('home')">
            <img ng-src="images/tabicon/home_icon.png" alt="">
            <span>首页</span>
        </li>
        <li  ng-class="{active:type =='author'}" ng-click="tabClick('author')">
            <img ng-src="images/tabicon/home_icon.png" alt="">
            <span>作者</span>
        </li>
        <li  ng-class="{active:type =='column'}" ng-click="tabClick('column')">
            <img ng-src="images/tabicon/home_icon.png" alt="">
            <span>栏目</span>
        </li>
        <li  ng-class="{active:type =='my'}" ng-click="tabClick('my')">
            <img ng-src="images/tabicon/home_icon.png" alt="">
            <span>我的</span>
        </li>
    </ul>
</div>